@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2 style="margin:80px; text-align:center;color:blue;">@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section style="margin:80px;color:red" id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please sign in your blog!</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "**Please input your valid email!**", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "**Please input your password!**", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
    <div class="col-md-4">
        <h2 style="color:darkgreen">How to sign in the Bug Tracker's account?</h2>
        <ol style="color:green">
            <li>Please regist your own account!</li>
            <li>After you finished, input your email which you have registed.</li>
            <li>Then,input your passpord(Remember the passwaord's requirememtes when you created.)</li>
            <li>Next,If you want to let your website know your account,please click "remember me".Otherwise, skip this step!</li>
            <li>Finally, click "log in" You can manage your Bug Tracker.</li>
        </ol>
    </div>
</div>
<style>
    body {
        background-color: white;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}