@model BugTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 style="color:green; text-align:center;">@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="color:yellowgreen;text-align:center;">Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("**Email and password are required.**", new { @class = "text-danger" })
    <div class="form-group" style="display:flex;">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <p style="color:brown">
            **Please input your email**
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <p style="color:brown;margin-left:180px">
            **Input password**
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <p style="color:brown;margin-left:180px">
            **Repeat password**
        </p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input style="background-color:yellow;margin-left:500px" type="submit" class="btn btn-default" value="Register" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color:yellow" type="submit" class="btn btn-default" value="Register" />
            </div>
            <div class="container" style="margin:280px;border:5px solid green;background-color:yellowgreen;">
                <div class="col-md-4">
                    <h2 style="color:darkblue; display:flex;">The tips for registing the account.</h2>
                    <ol style="color:blueviolet;font-size:18px;">
                        <li>Please use your own email to regist a new account.</li>
                        <li>Please set the password(Remember:The password must be consist of 1 upper case at least,non-numbers/letters,numbers & 1 lower case at least.</li>
                        <li>Please repeat your password because of security.</li>
                        <li>Once you confirmed the email & password, then click the "Register"</li>
                        <li>Regist done.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
    <style>
        body {
            background-color:white;
        }
    </style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
